@tailwind base;
@tailwind components;
@tailwind utilities;

.InterFont {
    font-family: var(--font-inter);
}

.RoboFont {
    font-family: var(--font-roboto-mono);
}


.UrbanistFont {
    font-family: var(--font-Urbanist);
}

.oronium-regular-font {
    @apply text-[16px] font-[600] UrbanistFont leading-[28px];
  }