@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
    /* width: 1em;
    scrollbar-h */
    display: none;
  }
  
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  }

.InterFont {
    font-family: var(--font-inter);
}

.RoboFont {
    font-family: var(--font-roboto-mono);
}


.UrbanistFont {
    font-family: var(--font-Urbanist);
}

.oronium-regular-font {
    @apply text-[16px] font-[600] UrbanistFont leading-[28px];
  }